:root {
    --item-bg-color: hsl(268deg 59% 77% / 75%);
    --item-h2-color: hsl(268.29deg 25.07% 21.96%);
    --item-p-col: hsl(268.29deg 28.89% 34.13%);
    --item-border-col: hsl(268.29deg 21.15% 40.87%);
}

/* .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.page-content .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    grid-template-rows: 100%;
    justify-content: center;
    grid-gap: 50px;
}

.page-content .items .item {
    background-color: var(--item-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

.page-content .items .item h2 {
    color: var(--item-h2-color);
    font-size: 32px;
    margin: 0px;
    margin-top: 20px;
}

.page-content .items .item .itemIMG {
    height: 250px;
    width: 250px;
    background-color: hsl(0deg 0% 0% / 25%);
    border: 2px solid var(--item-border-col);
    border-radius: 50%;
    margin-top: 15px;
    overflow: hidden;
}

.page-content .items div:nth-of-type(1) .itemIMG img {
    height: 250px;
    width: auto;
    translate: -5px -10px;
}

.page-content .items div:nth-of-type(2) .itemIMG img {
    height: 300px;
    width: auto;
    translate: -50px -35px;
}

.page-content .items .item p {
    color: var(--item-p-col);
    border-top: 2px solid var(--item-border-col);
    margin: 0px;
}

.page-content .items .item p:nth-of-type(1) {
    width: 75%;
    font-size: 22px;
    margin-top: 30px;
    padding-top: 10px;
}

.page-content .items .item p:nth-of-type(2) {
    width: 40%;
    font-size: 45px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}
